@font-face {
  font-family: "Maven Pro";
  font-display: swap;
  src:
    local("Maven Pro"),
    url("fonts.google.com/MavenPro-VariableFont_wght.ttf") format("truetype"),
}

a:hover img {
  animation-play-state: paused;
}

a:active img {
  animation-play-state: running;
  transform: scale(0.95);
}

a:focus img {
  filter: drop-shadow(0 0 15px #fec368);
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-1deg);
  }
  75% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

body {
  --padding-top: 20px;
  --padding-bottom: 32px;
  --bottom-border: 8px;
  margin: unset;
  background-color: #1a1a1a;
  font-family: "Maven Pro", sans-serif;
  border-left: solid 8px #00000026;
  border-bottom: solid var(--bottom-border) #00000026;
  padding: var(--padding-top) 12px var(--padding-bottom) 16px;
  box-sizing: border-box;
  text-align: center;
  grid-template-rows: calc(100svh - var(--bottom-border) - var(--padding-top) - var(--padding-bottom));
  display: grid;
}

menu {
  --padding-block: 0.75em;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
  box-shadow: inset -12px 8px #00000026;
  background-image: radial-gradient(#2a4653, #24232a);
  padding: var(--padding-block) 4px;
  margin: 0;
  place-content: center;
  list-style-type: none;
  background-color: #24232a;
  color: white;
  border-radius: 2.5% 1%;
  font-size: 2.25em;
}

menu li {
  scroll-margin-block-start: var(--padding-block);
  margin-block-end: var(--padding-block);
  margin-inline: 0.5em;
  display: inline-block;
  font-weight: bold;
  scroll-snap-align: start;
}

img {
  margin: auto;
  animation-composition: add;
  animation: 1.5s infinite alternate wiggle;
}

li:nth-of-type(2n) img {
  animation-direction: alternate-reverse;
}

a {
  display: grid;
  text-decoration: none;
  color: inherit;
  text-shadow: 2px -3px 3px #1a1a1a;
  outline: unset;
}

